nav{
    background-color:black;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
   display: flex;
   list-style: none;
   justify-content: center;
   margin: 0;
   padding: 0;
}

nav ul li{
    display: block;
    margin-right: 1rem;
}

nav ul li a{
    color:white;
    font-size: large;
    display: block;
    line-height: 50px;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active{
    background-color: white;
    color:black;
}